.dashboard-container {
  width: 80%;
  margin: 20px auto;
  background-color: white;
  padding: 20px;
  border-radius: var(--border-radius);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

h1, h2 {
  color: var(--primary-color);
  text-align: center;
  margin-bottom: 20px;
  font-size: var(--font-size-lg);
}

.form-container, .list-container {
  margin-bottom: 20px;
}

.button {
  background-color: var(--secondary-color);
  color: #ffffff;
  padding: 10px 20px;
  margin: 5px;
  border-radius: var(--border-radius);
  cursor: pointer;
  transition: background-color var(--transition-duration);
}

.button:hover {
  background-color: var(--accent-color);
}

.input {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: var(--border-radius);
  color: var(--secondary-color);
}

label {
  font-weight: 600;
  display: block;
  margin-bottom: 5px;
  color: var(--secondary-color);
}

.table-container {
  margin: 20px 0;
  overflow-x: auto;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.table th, .table td {
  padding: 12px 15px;
  border: 1px solid #ddd;
  text-align: left;
}

.table th {
  background-color: var(--primary-color);
  color: white;
}

.table tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}

.table tbody tr:hover {
  background-color: #e8f4f8;
}
